# =========================
# 1. Ignorar de Java / Spring Boot
# =========================
**/target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log

# =========================
# 2. Ignorar de Python
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env

# =========================
# 3. Ignorar de Docker y Base de Datos
# =========================
postgres_data/

# =========================
# 4. Ignorar de Entornos Locales (IDE)
# =========================
.vscode/
.idea/
*.iml
*.DS_Store
